@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Julius+Sans+One&family=Source+Sans+Pro:wght@600&display=swap');
@import url('http://fonts.cdnfonts.com/css/lemon-milk');

@media only screen and (min-device-width: 1000px) and (max-width: 12381px) {
.lemon-milk-force-40 {
  font-size: 40px !important;
}

.carousel-pic {
  margin-left: -100px !important;
}

.font-ml-24 {
  font-family: 'DM Sans', sans-serif;
  font-size: 24px !important;
}
} 

@media only screen 
  and (min-device-width: 767px) 
  and (max-device-width: 999px)
  and (-webkit-min-device-pixel-ratio: 1){
  /* .container {
    margin: 0px !important;
    padding: 0px !important;
  } */
  .text-md-force-12 {
    font-size: 12px !important;
  }
  .text-md-force-36 {
    font-size: 36px !important;
  }                                  

  .font-md-14 {
    font-family: 'DM Sans', sans-serif;
    font-size: 14px !important;
  }

  .font-md-16 {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px !important;
  }

  .font-md-18 {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px !important;
  }

  .font-md-20 {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px !important;
    /* line-height: 42px; */
  }

  .font-md-24 {
    font-family: 'DM Sans', sans-serif;
    font-size: 24px !important;
    /* line-height: 42px; */
  }

  .font-md-30 {
    font-family: 'DM Sans', sans-serif;
    font-size: 30px !important;
    /* line-height: 42px; */
  }

  .nav-btn {
    background: black !important;
    color: white !important;
    text-transform: uppercase !important;
    margin-left: -25px !important;
  }

  .dropdown-item {
    background: black !important;
    color: white !important;
  }

  .carousel-text {
    padding-left: 70px !important;
    margin-top: 60px;
    /* margin-bottom: 20px; */
  }

  #my-carousel {
    /* margin-top: 10px; */
    height: 100%;
  }

  .map-md {
    width: 750px;
  }

  .carousel-pic {
  width: 400px !important;
   }

   .bg-picture {
    height: 370px !important;
  }

  .logo-footer {
    width: 130px;
  }

  .bookings-bg {
    height: 500px !important;
  }
}

@media only screen and (min-width: 320px) and (max-width: 420px)  {
  .nav-btn {
    background: black !important;
    color: white !important;
    text-transform: uppercase !important;
    margin-left: -25px !important;
  }

  .dropdown-item {
    background: black !important;
    color: white !important;
  }

  .font-sm-12 {
    font-family: 'DM Sans', sans-serif;
    font-size: 12px !important;
  }

  .font-sm-14 {
    font-family: 'DM Sans', sans-serif;
    font-size: 14px !important;
  }

  .font-sm-16 {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px !important;
  }

  .font-sm-18 {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px !important;
  }

  .font-sm-22 {
    font-family: 'DM Sans', sans-serif;
    font-size: 22px !important;
  }

  .font-sm-28 {
    font-family: 'DM Sans', sans-serif;
    font-size: 28px !important;
  }

  .text-sm-force-10 {
    font-family: 'LEMON MILK', sans-serif;
    font-size: 10px !important;
  }

  .lemon-milk-sm-12 {
    font-family: 'LEMON MILK', sans-serif;
    font-size: 12px !important;
  }

  .lemon-milk-sm-18 {
    font-family: 'LEMON MILK', sans-serif;
    font-size: 18px !important;
  }

  .text-sm-force-16 {
    /* font-family: 'LEMON MILK', sans-serif; */
    font-size: 16px !important;
  }

  .loader-img {
    width: 120px !important;
    height: 120px !important;
  }

  .bg-picture {
    height: 190px !important;
  }

  .carousel-item {
    height: 100%;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
    z-index: 1 !important;
    
    }
/* 
    .carousel-text {
      width: 3200px !important;
    } */

    .carousel-pic {
      width: 260px !important;
      justify-content: end !important;
      margin-left: -50px;
    }

  .carousel-caption {
    z-index: 2345 !important;
  }

  #what-we-do {
    margin-top: 18px !important;
  }

  .flex-small-column {
    width: 315px !important;
    flex-direction: column;
    margin: 0px auto !important;
  }

  .card {
    margin: 0px auto !important;
    margin-bottom: 15px !important;
  }

  .objectives {
    display: none !important;
  }

  /* .logo-footer {
    display: none !important;
    visibility: hidden;
  } */

  .d-sm-none {
    display: none !important;
  }

  .col-auto-sm {
    width: 310px !important;
  }

  .carousel-pic {
    width: 200px !important;
    height: auto;
    margin-left: -20px !important;
  }

  .map-sm {
    width: 300px;
    height: auto;
  }

  p {
    margin-top: -8px !important;
  }

  .stars-sm {
    margin-top: -8px !important;
  }

  .book-an-appointment-img {
    width: 100% !important;
    height: 100% !important;
  }

  .mt-sm-1 {
    margin-top: 2px !important;
  }

  .mt-sm-3 {
    margin-top: 15px !important;
  }

  /* .padding-reduce {
    height: 50px !important;
  } */
  /* .margin-reduce {
    padding-top: -35px !important;
    padding-bottom: -35px !important;
    margin-top: -35px !important;
    margin-bottom: -35px !important;
  } */

  /* .form-row {
    flex: ;
  } */

}